<app-admin-options></app-admin-options>
<form #updateForm="ngForm" (submit)="onFormUpdate(updateForm.value)">
  
    <div class="form-group" >
      <label for="">Enter The Username To Change</label>
      <input
        type="text"
        name="username"
        class="form-control"
        [(ngModel)]="CUserModel.username"
        #username="ngModel"
        [class.is-invalid]="username.invalid && username.touched"
        require
      />
      <small class="text-danger" [class.d-none]="username.untouched || username.valid">*This is required field</small>
    </div>

  
    <div class="form-group">
      <label for="">Change Account Status</label>
      <div class="form-check">
        <input
          type="radio"
          name="gender"
          class="form-check-input"
          value=1
          [(ngModel)]="CUserModel.blocked"
        />
        <label for="" class="form-check-label">Block</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          name="gender"
          class="form-check-input"
          value=0
          [(ngModel)]="CUserModel.blocked"
        />
        <label for="" class="form-check-label">Unblock</label>
      </div>
    </div>
  
    <div class="form-group">
      <label for="">Change Subscription Status</label>
      <div class="form-check">
        <input
          type="checkbox"
          name="subscribe"
          class="form-check-input"
          [(ngModel)]="CUserModel.subscribe"
        />
        <label for="" class="form-check-label">Subscribe</label>
      </div>
    </div>
  
    <div class="form-group">
      <label for="">Change Account Status</label>
      <div class="form-check">
        <input
          type="radio"
          name="activeStatus"
          class="form-check-input"
          value= 0
          [(ngModel)]="CUserModel.activity"
        />
        <label for="" class="form-check-label">Unactive</label>
      </div>
      <div class="form-check">
        <input
          type="radio"
          name="activeStatus"
          class="form-check-input"
          value= 1
          [(ngModel)]="CUserModel.activity"
        />
        <label for="" class="form-check-label">Active</label>
      </div>
    </div>
 
    <input [disabled]="updateForm.invalid" type="submit" value="Update Account" class="btn btn-primary" />
 
  </form>