<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>com.rev.AddReimbursement</servlet-name>
    <servlet-class>com.rev.AddReimbursement</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.AddReimbursement</servlet-name>
    <url-pattern>/com.rev.AddReimbursement</url-pattern>
  </servlet-mapping>

  <!--Log in / out-->
  <servlet>
  <servlet-name>com.rev.LogIn</servlet-name>
  <servlet-class>com.rev.LogIn</servlet-class>
  </servlet>

  <servlet-mapping>
  <servlet-name>com.rev.LogIn</servlet-name>
  <url-pattern>/com.rev.LogIn</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.LogOut</servlet-name>
    <servlet-class>com.rev.LogOut</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.LogOut</servlet-name>
    <url-pattern>/com.rev.LogOut</url-pattern>
  </servlet-mapping>


<!--  Main-->

  <servlet>
    <servlet-name>com.rev.Profile</servlet-name>
    <servlet-class>com.rev.Profile</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.Profile</servlet-name>
    <url-pattern>/com.rev.Profile</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.AllReimbursement</servlet-name>
    <servlet-class>com.rev.AllReimbursement</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.AllReimbursement</servlet-name>
    <url-pattern>/com.rev.AllReimbursement</url-pattern>
  </servlet-mapping>

<!--  profile-->
  <servlet>
    <servlet-name>com.rev.MyProfile</servlet-name>
    <servlet-class>com.rev.MyProfile</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.MyProfile</servlet-name>
    <url-pattern>/com.rev.MyProfile</url-pattern>
  </servlet-mapping>

<!--  Update User-->
  <servlet>
    <servlet-name>com.rev.UpdateUser</servlet-name>
    <servlet-class>com.rev.UpdateUser</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.UpdateUser</servlet-name>
    <url-pattern>/com.rev.UpdateUser</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.UpdateUserForm</servlet-name>
    <servlet-class>com.rev.UpdateUserForm</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.UpdateUserForm</servlet-name>
    <url-pattern>/com.rev.UpdateUserForm</url-pattern>
  </servlet-mapping>

<!--  Transactions-->

  <servlet>
    <servlet-name>com.rev.transactins.Approve</servlet-name>
    <servlet-class>com.rev.transactins.Approve</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.transactins.Approve</servlet-name>
    <url-pattern>/com.rev.transactins.Approve</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.transactins.AllTrans</servlet-name>
    <servlet-class>com.rev.transactins.AllTrans</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.transactins.AllTrans</servlet-name>
    <url-pattern>/com.rev.transactins.AllTrans</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.transactins.Disprove</servlet-name>
    <servlet-class>com.rev.transactins.Disprove</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.transactins.Disprove</servlet-name>
    <url-pattern>/com.rev.transactins.Disprove</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.transactins.Pending</servlet-name>
    <servlet-class>com.rev.transactins.Pending</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.transactins.Pending</servlet-name>
    <url-pattern>/com.rev.transactins.Pending</url-pattern>
  </servlet-mapping>

<!--Admin-->
  <servlet>
    <servlet-name>com.rev.admin.AdminHome</servlet-name>
    <servlet-class>com.rev.admin.AdminHome</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.admin.AdminHome</servlet-name>
    <url-pattern>/com.rev.admin.AdminHome</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.admin.printAllEmployees</servlet-name>
    <servlet-class>com.rev.admin.printAllEmployees</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.admin.printAllEmployees</servlet-name>
    <url-pattern>/com.rev.admin.printAllEmployees</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.admin.ViewDisapprove</servlet-name>
    <servlet-class>com.rev.admin.ViewDisapprove</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.admin.ViewDisapprove</servlet-name>
    <url-pattern>/com.rev.admin.ViewDisapprove</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.admin.ViewApprove</servlet-name>
    <servlet-class>com.rev.admin.ViewApprove</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.admin.ViewApprove</servlet-name>
    <url-pattern>/com.rev.admin.ViewApprove</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.admin.ViewAllPending</servlet-name>
    <servlet-class>com.rev.admin.ViewAllPending</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.admin.ViewAllPending</servlet-name>
    <url-pattern>/com.rev.admin.ViewAllPending</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.admin.VerifyRequest</servlet-name>
    <servlet-class>com.rev.admin.VerifyRequest</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.admin.VerifyRequest</servlet-name>
    <url-pattern>/com.rev.admin.VerifyRequest</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.admin.ViewCertainByName</servlet-name>
    <servlet-class>com.rev.admin.ViewCertainByName</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.admin.ViewCertainByName</servlet-name>
    <url-pattern>/com.rev.admin.ViewCertainByName</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.admin.ViewCertainRei</servlet-name>
    <servlet-class>com.rev.admin.ViewCertainRei</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.admin.ViewCertainRei</servlet-name>
    <url-pattern>/com.rev.admin.ViewCertainRei</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>com.rev.admin.CheckTransIndivid</servlet-name>
    <servlet-class>com.rev.admin.CheckTransIndivid</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.admin.CheckTransIndivid</servlet-name>
    <url-pattern>/com.rev.admin.CheckTransIndivid</url-pattern>
  </servlet-mapping>


  <servlet>
    <servlet-name>com.rev.AfterLogOut</servlet-name>
    <servlet-class>com.rev.AfterLogOut</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>com.rev.AfterLogOut</servlet-name>
    <url-pattern>/com.rev.AfterLogOut</url-pattern>
  </servlet-mapping>
  AfterLogOut
</web-app>