<nav class="nav_login">
    <div class="logo">
        <a href='/main' *ngIf="displayLogo"><img class="logo_img" src="#" alt="logo2"></a>
        <!-- <a href='home' *ngIf="displayLogoBack" alt="logo33"> -->
            <div class="logo_layout"></div>
        <!-- </a> -->
    </div>
    <div class="login_btns">
        <!-- <select>
            <option value="en">English</option>
            <option value="sp">Spain</option>
            <option value="pr">Portuguese</option>
            <option value="gr">German</option>
        </select> -->
        <a class="signIn_btn" href="/signin" *ngIf="!display">Sign In</a>
    </div>
</nav>